@import "variables";

.btn-sm {
  //box-shadow: none;
  box-shadow:
          0 2px 5px 0 rgba(50,50,93,.08),
          0 1px 2px 0 rgba(0,0,0,.08);
}

@mixin pretty-button-variant($primary, $border) {
  @include button-variant($primary, $border, $primary);

  border-radius: 4px;
  box-shadow: 0 3px 14px -12px rgba(60,66,87, 0.1),
  0 3px 6px -3px rgba(0, 0, 0, .07);

  &:hover {
    box-shadow: 0 3px 14px -10px rgba(60,66,87, 0.2),
    0 3px 6px -1px rgba(0, 0, 0, .14);
  }
}

.btn-white { @include pretty-button-variant(#fff, rgba($border, 0.25)) }

.btn-pretty-primary {
  @include pretty-button-variant($active, $active)
}

.btn-link {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}